### Loading Liberaties

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Loading users and followers data

In [2]:
users = pd.read_csv("../input/d/kaggle/meta-kaggle/Users.csv")
followers = pd.read_csv('../input/d/kaggle/meta-kaggle/UserFollowers.csv')

In [3]:
path = "../input/d/kaggle/meta-kaggle/"

In [4]:
kernalvotes = pd.read_csv('../input/d/kaggle/meta-kaggle/KernelVotes.csv')

In [5]:
users[["DisplayName","UserName"]].where(users['UserName']=="muhammedtausif").head()

  DisplayName UserName
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

In [6]:
df = users
df.loc[df['UserName'] == 'muhammedtausif']

,Id,UserName,DisplayName,RegisterDate,PerformanceTier
3693088,4034364,muhammedtausif,Muhammed Tausif,11/14/2019,2

In [7]:
df = kernalvotes
df.loc[df['UserId'] == 4034364]

              Id   UserId  KernelVersionId    VoteDate
2116198  3498519  4034364          5552423  04/05/2022
2116544  3557146  4034364         10431564  04/24/2022
2121294  3491820  4034364         81262312  04/03/2022
2123073  3498573  4034364         48249495  04/05/2022
2123675  3601923  4034364         41875008  05/09/2022
...          ...      ...              ...         ...
2585175  3494830  4034364         92095256  04/04/2022
2585348  3494724  4034364         92108330  04/04/2022
2585565  3494819  4034364         92066884  04/04/2022
2585628  3639036  4034364         96230330  05/21/2022
2585824  3636709  4034364         96147150  05/21/2022

[636 rows x 4 columns]

In [8]:
users['Id'].nunique()

9942702

Total Number of kagglers being followed

In [9]:
len(followers['FollowingUserId'].unique())

155056

Total users following some one

In [10]:
len(followers.UserId.unique())

304881

### Top 5 Kagglers being Followed

In [11]:
followers.groupby('FollowingUserId').size().sort_values().tail(10)

FollowingUserId
9028        8307
417337      8476
4476084     8560
1014468     8690
1162990     8839
54836      10650
1723677    11387
708283     13159
71388      13670
5309       16645
dtype: int64

In [12]:
usera = pd.read_csv(path+'UserAchievements.csv')
df = usera
df.loc[df['UserId'] == 4034364]

,Id,UserId,AchievementType,Tier,TierAchievementDate,Points,CurrentRanking,HighestRanking,TotalGold,TotalSilver,TotalBronze
14772352,142309632,4034364,Datasets,2,04/11/2022,106,116.0,114.0,0,1,10
14772353,142308903,4034364,Discussion,2,03/12/2022,614,90.0,90.0,6,14,383
14772354,142308178,4034364,Scripts,2,04/06/2022,209,405.0,403.0,0,1,23
14772355,142307453,4034364,Competitions,1,02/16/2022,0,NaN,NaN,0,0,0

In [13]:
users.loc[users['UserName'] == 'surajjha101']

              Id     UserName DisplayName RegisterDate  PerformanceTier
8827214  9590174  surajjha101   Suraj Jha   02/06/2022                4

In [14]:
usera.loc[usera['UserId'] == 9590174]

,Id,UserId,AchievementType,Tier,TierAchievementDate,Points,CurrentRanking,HighestRanking,TotalGold,TotalSilver,TotalBronze
35308856,165192096,9590174,Datasets,4,06/02/2022,385,20.0,20.0,5,5,0
35308857,165192097,9590174,Discussion,2,03/08/2022,1031,35.0,35.0,16,15,739
35308858,165192098,9590174,Scripts,1,03/03/2022,256,NaN,NaN,3,0,0
35308859,165192099,9590174,Competitions,1,03/03/2022,0,NaN,NaN,0,0,0

In [15]:
# usera.loc[usera['UserId'] == 9590174]
users.loc[users['UserName'] == 'surajjha101']['Id']

8827214    9590174
Name: Id, dtype: int64